
.top img{ height: 80px;width:80px; }

.top-nav {float:left; color:#878f96; padding-top:15px;  }
.top-nav img{ height: 80px;width:80px; float:left; }

.top-nav1 ul{list-style: none;}
.top-nav1 ul li{padding:15px;}
.top-nav1 ul li a{color: #7c7c7c; text-decoration: none; width:100%;text-align:left;  background-color: #fff;font-size: 13px;}
.top-nav1 a{float: right;}

.nav {border: 1px solid #e5e5e5;}
.nav ul{list-style: none;}
.nav ul li{float: left; padding:11px;}
.nav ul li a{color:#000021; text-decoration:none;font-size: 13px;}

.content1 img{height:200px; width:200px;}
.content1 h5{font-size: 20px;}
.content1  h4{font-size:17px; font-weight:bold;}
.content1  p{font-size:14px; width: 100%; color:#7c7c7c;}

.services ul li{font-size:12px}

.footer h5{font-size:18px;}
.footer a{text-decoration:none;}
.footer ul li a{font-size:13px; color:#000;}




		  
		  


